:root {
  // 品牌色
  --j-primary: #4177ff;
  --j-primary-light: #f0f4ff;
  --j-primary-dark: #1040ab;

  // 辅助色
  --j-secondary: #1fbf86;
  --j-secondary-light: #f3fffc;
  --j-secondary-dark: #05a86b;

  // 强调色
  --j-strong: #fb5800;
  --j-strong-light: #fff8f1;
  --j-strong-dark: #ee5501;

  // 交互色
  --j-success: #41cc8b;
  --j-warning: #f4934b;
  --j-error: #d94b3e;
  --j-info: #4f94e6;
  --j-success-bg: #edfdf8;
  --j-warning-bg: #fff8eb;
  --j-error-bg: #feefef;
  --j-info-bg: #f0f5ff;

  // 中性色
  --j-white: #ffffff;
  --j-black: #000000;
  --j-gray: #333333;
  --j-gray-100: #666666;
  --j-gray-200: #999999;
  --j-gray-300: #dddddd;
  --j-gray-400: #eeeeee;
  --j-gray-500: #f5f5f5;
  --j-gray-600: #fafafa;
}
