:root {
  --j-text: #333333;
  --j-text-100: #666666;
  --j-text-200: #999999;
  --j-text-300: #dddddd;
  --j-font-size: 14px;
  --j-font-weight: 400;
  --j-line-height: 1.5715;
  --j-font-sans-serif: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC,
    Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
